.wrapper {
  background-color: white;
  border: 1px solid black;
  border-radius: 1em;
  margin: 0.5em 0;
  padding: 1em 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
}

.name {
  text-align: left;
}

.delete_button {
  margin-left: auto;
  height: fit-content;
}

.dragging {
  opacity: 25%;
}
