.wrapper {
  position: relative;
  height: 4em;
  min-height: 4em;
  color: black;
  background-color: white;
  border-radius: 0.25em;
  padding: 0.5em;
  cursor: grab;
  white-space: pre;
  display: flex;
  margin: 0.25em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  touch-action: none;
}

.task_content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  width: 100%;
  touch-action: none;
}

.text_area {
  height: 90%;
  resize: none;
  border-radius: 1em;
}

.task_content::-webkit-scrollbar-thumb {
  background-color: rgb(133, 133, 133);
  border-radius: 1em;
}

.wrapper_empty {
  height: 4em;
  min-height: 4em;
  color: black;
  background-color: white;
  border-radius: 0.25em;
  padding: 0.5em;
  cursor: grab;
  white-space: pre;
  display: flex;
  margin: 0.25em 0.5em;
  opacity: 0.5;
}

.options_button {
  position: absolute;
  top: 0.15em;
  right: 0.15em;

  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
