.wrapper {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  border-radius: 1em;
  margin: 0 2em;
  width: 15em;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: red;
  text-align: center;
  margin: 2em 0;
}

.content {
  flex: 1;
  background-color: lightgreen;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1em;
  text-align: center;
}

.over {
  background-color: green;
}

.tasks_counter {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  margin-left: 0.5em;
}
