.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board_wrapper {
  flex: 1;
  display: flex;
  gap: 2em;
  overflow-x: scroll;
  width: auto;
  height: auto;
}

.title {
  font-size: 2em;
  margin: auto;
  width: fit-content;
}

.add_column_button {
  color: white;
  width: 18rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 0.5em;

  cursor: pointer;
}

.columns_wrapper {
  display: flex;
  gap: 1em;
  margin-top: 3em;
  margin-bottom: 2em;
  padding: 0 2em;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(133, 133, 133);
  border-radius: 1em;
}
