.wrapper {
  padding: 4em 1em;
  background-color: var(--background);
  display: flex;
  gap: 2em;
}

.add_column_button {
  color: white;
  width: 15em;
  border: none;
  background-color: gray;
  border-radius: 0.5em;
  cursor: pointer;
}

.columns_wrapper {
  display: flex;
  gap: 1em;
}
