.wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(220, 220, 220);
  width: 15em;
  height: 30em;
  max-height: 30em;

  border-radius: 0.5em;
  overflow: hidden;
}

.wrapper_dragging {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(220, 220, 220);
  width: 15em;
  height: 30em;
  max-height: 30em;

  border-radius: 0.5em;
  overflow: hidden;

  opacity: 0.6;
  border: 1px solid pink;
}

.header {
  color: black;
  /*background-color: rgb(70, 71, 71);*/
  display: flex;
  align-items: center;
  padding: 1em;
}

.title {
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.task_number {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1.5em;
  aspect-ratio: 1/1;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.5em;
}

.delete_column {
  margin-left: auto;
}

.add_task {
  background-color: rgb(120, 253, 187);
  padding: 1em 0;
  cursor: pointer;
  border: none;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgb(133, 133, 133);
  border-radius: 1em;
}
