.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(220, 220, 220);
  width: 18rem;
  height: 100%;

  border-radius: 0.5em;
  overflow: hidden;

  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.7);
}

.wrapper_dragging {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(220, 220, 220);
  width: 18rem;
  height: 100%;

  border-radius: 0.5em;
  overflow: hidden;

  opacity: 0.6;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.7);
}

.header {
  color: black;
  height: 2.5em;
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
}

.title {
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.task_number {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1.5em;
  aspect-ratio: 1/1;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.5em;
  color: white;
}

.delete_column {
  margin-left: auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.add_task {
  background-color: rgb(120, 253, 187);
  padding: 1em 0;
  cursor: pointer;
  border: none;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgb(133, 133, 133);
  border-radius: 1em;
}
