:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}
